## Arange NWIS streamflow to regular space

In [54]:
import pandas as pd
from datetime import datetime

#08068720
#08068740
#08068780
#08068800
#08068900
#08069000

fileIn = "C:/temp/Flood_Forecasting/NWIS-2012/08069000.csv"
fileOut = "C:/temp/Flood_Forecasting/NWIS-2012/08069000_AR_USTime.csv"

# date range taken from USGS download script
start = '2001-01-01 00:00:00'
end = '2019-07-25 00:00:00'

# this is only a reference
idx = pd.date_range(datetime(2001, 1, 1, hour=0, minute=0), periods=617023, freq='15min', tz='US/Central') 

data = pd.read_csv(fileIn)
data['datetime'] = pd.to_datetime(data['datetime'], utc=True)
data = data.set_index('datetime')
data.index = pd.DatetimeIndex(data.index)
data = data.reindex(idx)
data.to_csv(fileOut)
data

                           USGS:08069000:00060:00000
2001-01-01 00:00:00-06:00                   5.776627
2001-01-01 00:15:00-06:00                   6.229696
2001-01-01 00:30:00-06:00                   6.796032
2001-01-01 00:45:00-06:00                   7.079200
2001-01-01 01:00:00-06:00                   7.843754
...                                              ...
2018-08-07 07:30:00-05:00                   3.256432
2018-08-07 07:45:00-05:00                   3.256432
2018-08-07 08:00:00-05:00                   3.171482
2018-08-07 08:15:00-05:00                   3.058214
2018-08-07 08:30:00-05:00                   3.001581

[617023 rows x 1 columns]

In [49]:
data1 = pd.read_csv(fileIn)
data1

                         datetime  USGS:08068720:00060:00000
0       2001-01-01 00:00:00-06:00                   0.101940
1       2001-01-01 00:15:00-06:00                   0.104772
2       2001-01-01 00:30:00-06:00                   0.104772
3       2001-01-01 00:45:00-06:00                   0.104772
4       2001-01-01 01:00:00-06:00                   0.107604
...                           ...                        ...
635139  2019-07-25 22:45:00-05:00                   0.000000
635140  2019-07-25 23:00:00-05:00                   0.000000
635141  2019-07-25 23:15:00-05:00                   0.000000
635142  2019-07-25 23:30:00-05:00                   0.000000
635143  2019-07-25 23:45:00-05:00                   0.000000

[635144 rows x 2 columns]